@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400&display=swap');

body {
  background-color: whitesmoke;
  font-family: 'Roboto';
}

.todo-list {
  background-color: #fefefe;
  margin: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid #efefef; */
  box-shadow: 
  /* The top layer shadow */ 0 1px 1px rgba(0, 0, 0, 0.15),
    /* The second layer */ 0 10px 0 -5px #eee,
    /* The second layer shadow */ 0 10px 1px -4px rgba(0, 0, 0, 0.15),
    /* The third layer */ 0 20px 0 -10px #eee,
    /* The third layer shadow */ 0 20px 1px -9px rgba(0, 0, 0, 0.15);
  padding: 0 30px 30px 30px;
}

.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 60px;
  width: 100%;
  border-bottom: 1px solid #cecece;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  color: #333;
}

.todo-text {
  font-size: 1.7em;
  font-weight: 300;
  cursor: pointer;
}

.todo-input {
  display: flex;
  width: 40%;
  padding: 30px;
  margin: -2em auto 0.1em auto;
  outline: 0;
  background: #fefefe;
  border: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee;
  font-size: 1.7em;
  font-weight: 300;
  text-indent: 25px;
}

.todo-input::placeholder {
  color: #cdcdcd;
  font-style: italic;
  opacity: 0.8;
  letter-spacing: 0.02em;
  font-weight: 300;
}

.header-text {
  text-align: center;
  color: #96373778;
  font-weight: 100;
  font-size: 6em;
  margin-top: 0.2em;
}

.delete-btn {
  margin-left: auto;
  background: none;
  padding-right: 1.5em;
  outline: none;
  color: #96373778;
  cursor: pointer;
  border: none;
  font-size: 1.5em;
  vertical-align: middle;
}

.delete-btn:active,
.delete-btn:hover {
  color: rgba(150, 55, 55, 0.9);
}

.footer-container {
  display: flex;
  flex-direction: row;
  height: 2em;
  width: 100%;
  justify-content: center;
}

.todos-count {
  font-weight: 100;
  margin-right: auto;
}

.filters {
  margin: 0;
  padding: 0;
  position: relative;
  right: 0;
  left: -4.7em;
  top: 0.4em;
}

.all-btn {
  background: none;
  outline: 0;
  cursor: pointer;
  font-size: 1em;
  padding: 0.4em 1.3em;
  font-weight: 100;
}

.active-btn,
.complete-btn {
  margin: 0.4em 1em 0 0.4em;
  background: none;
  outline: 0;
  cursor: pointer;
  font-size: 1em;
  padding: 0.4em 1.3em;
  font-weight: 100;
}

@media all and (min-width: 320px) {
  .todo-input {
    width: 115%;
  }
  .todo-list {
    width: 115%;
  }
  .filters {
    left: 0;
  }
  .active-btn,
  .complete-btn {
    margin: 0.4em 0 0 0.4em;
  }
  .complete-btn {
    padding: 0.4em 0.7em;
  }
}

@media all and (min-width: 375px) {
  .todo-input {
    width: 96%;
  }
  .todo-list {
    width: 96%;
  }
  .filters {
    left: 0;
  }
  .active-btn,
  .complete-btn {
    margin: 0.4em 0 0 0.4em;
  }
  .complete-btn {
    padding: 0.4em 0.7em;
  }
}

@media all and (min-width: 411px) {
  .todo-input {
    width: 90%;
  }
  .todo-list {
    width: 90%;
  }
  .filters {
    left: 0;
  }
  .active-btn,
  .complete-btn {
    margin: 0.4em 0 0 0.4em;
  }
  .complete-btn {
    padding: 0.4em 0.7em;
  }
}

@media all and (min-width: 500px) {
  .todo-input {
    width: 75%;
  }
  .todo-list {
    width: 75%;
  }
  .filters {
    left: 0;
  }
  .active-btn,
  .complete-btn {
    margin: 0.4em 0 0 0.4em;
  }
  .complete-btn {
    padding: 0.4em 0.7em;
  }
}

@media all and (min-width: 700px) {
  .todo-input {
    width: 65%;
  }
  .todo-list {
    width: 65%;
  }
  .filters {
    left: 0;
  }
  .active-btn,
  .complete-btn {
    margin: 0.4em 0 0 0.4em;
  }
  .complete-btn {
    padding: 0.4em 0.7em;
  }
}

@media all and (min-width: 1000px) {
  .todo-input {
    width: 55%;
  }
  .todo-list {
    width: 55%;
  }
  .filters {
    left: 0;
  }
  .active-btn,
  .complete-btn {
    margin: 0.4em 0 0 0.4em;
  }
  .complete-btn {
    padding: 0.4em 0.7em;
  }
}

@media all and (min-width: 1200px) {
  .todo-input {
    width: 45%;
  }
  .todo-list {
    width: 45%;
  }
  .filters {
    left: 0;
  }
  .active-btn,
  .complete-btn {
    margin: 0.4em 0 0 0.4em;
  }
  .complete-btn {
    padding: 0.4em 0.7em;
  }
}
