.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--todo-dark-white);
  color: var(--todo-default-color);
}

.todo-text-label,
.todo-complete-label {
  font-size: 2.4rem;
  margin-left: -4.2rem;
  padding: 1.5rem 1.5rem 1.5rem 6rem;
  line-height: 1.2;
  transition: color 0.4s;
  background-repeat: no-repeat;
  background-position: center left;
}

.todo-text-label {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
}

.todo-complete-label {
  color: var(--todo-checkbox-default);
  text-decoration: line-through;
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}

.toggle {
  width: 4rem;
  border: none;
  opacity: 0;
  background: none;
  height: 4rem;
}

.delete-btn {
  margin-left: auto;
  background: none;
  padding-right: 3rem;
  outline: none;
  color: var(--todo-dark-brown);
  cursor: pointer;
  border: none;
  font-size: 2rem;
  vertical-align: middle;
}

.delete-btn:active,
.delete-btn:hover {
  color: var(--todo-darker-brown);
}
