.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 6rem;
  width: 100%;
  border-bottom: 1px solid var(--todo-dark-white);
  color: var(--todo-default-color);
}

.todo-text {
  font-size: 2.4rem;
  font-weight: 300;
  cursor: pointer;
}

.todo-complete {
  text-decoration: line-through;
  color: var(--todo-dark-white);
}

.delete-btn {
  margin-left: auto;
  background: none;
  padding-right: 3rem;
  outline: none;
  color: var(--todo-dark-brown);
  cursor: pointer;
  border: none;
  font-size: 2rem;
  vertical-align: middle;
}

.delete-btn:active,
.delete-btn:hover {
  color: var(--todo-darker-brown);
}
